.jumbotron {
  margin-top: 4%;
}
.col-md-6 {
  text-align: right;
}
.col-md-6 select {
  text-align: right;
  width: 50%;
  float: left;
}
#submit {
  display: block;
  margin: auto;
  margin-top: 5%;
}
input:invalid, select:invalid {
  border: 2px dashed red;
}

input:invalid:required, select:invalid {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid, select:invalid {
  border: 2px solid black;
}
#output {
  display: none;
}
